<div class="row d-flex justify-content-end">
    <div class="col-1">
        <div class="dropdown show mt-1" data-controller="quiz">
            <a class="btn-langage dropdown-item" href="#" role="button" id="dropdownMenuLink" data-action="click->quiz#toggle" data-quiz-target="linkLangage">
                <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/England_flat.png" alt="English" title="English" class="flag flag-btn-langage" data-quiz-target="flagImgBtn">
                EN
                {# <i class="bi bi-caret-down-fill"></i> #}
            </a>

            <div class="dropdown-menu ddContent" aria-labelledby="dropdownMenuLink" data-quiz-target="dropDownContent">
                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}" data-action="click->quiz#selectLanguage" data-lang="FR" data-quiz-target="dropDownLink">
                    <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/France_flat.png" alt="Français" title="Français" class="flag" data-quiz-target="dropDownLinkImg">FR
                </a>
                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}" data-action="click->quiz#selectLanguage" data-lang="FR" data-quiz-target="dropDownLink">
                    <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/England_flat.png" alt="English" title="English" class="flag" data-quiz-target="dropDownLinkImg">EN
                </a>
                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'de'})) }}" data-action="click->quiz#selectLanguage" data-lang="DE" data-quiz-target="dropDownLink">
                    <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/Germany_flat.png" alt="Deutsch" title="Deutsch" class="flag" data-quiz-target="dropDownLinkImg">DE
                </a>
                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'it'})) }}" data-action="click->quiz#selectLanguage" data-lang="IT" data-quiz-target="dropDownLink">
                    <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/Italy_flat.png" alt="Italiano" title="Italiano" class="flag" data-quiz-target="dropDownLinkImg">IT
                </a>
                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'nl'})) }}" data-action="click->quiz#selectLanguage" data-lang="NL" data-quiz-target="dropDownLink">
                    <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/Netherlands.png" alt="netherland" title="netherland" class="flag" data-quiz-target="dropDownLinkImg">NL
                </a>
                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'es'})) }}" data-action="click->quiz#selectLanguage" data-lang="ES" data-quiz-target="dropDownLink">
                    <img src="https://cdn2.iconfinder.com/data/icons/flags_gosquared/64/Spain_flat.png" alt="Spain" title="Spain" class="flag" data-quiz-target="dropDownLinkImg">ES
                </a>
            </div>
        </div>
    </div>
</div>
