{% extends 'base.html.twig' %}
{% block title %}
    {% if app.request.attributes.get('_route') == 'app_success'%}
        {{ pageTitle.app_success }} 
    {% elseif app.request.attributes.get('_route') == 'app_start'%}
        {{ pageTitle.app_start }}
    {% endif %}
{% endblock %}
{% block body %}

<body>
    {% include "_partials/_translation.html.twig" %}
    {# <div class="container-fluid p-5 pt-0 text-center d-flex flex-column">
        <div class="d-flex flex-column justify-content-center">
            <div class="row d-flex flex-column justify-content-center align-items-center">

                <div class="col-12 col-lg-9 first d-flex flex-column">
                    {% if app.request.attributes.get('_route') == 'app_success'%}
                        <h3 class="text-primary text-center fw-bold" data-aos="zoom-in-down">
                            {{'thank-you'|trans|raw}}
                        </h3>
                        <p class="sub-header text-primary">
                            {{'thank-you-sub'|trans|raw }}
                        </p>                            
                        <p class="sub-header text-primary">
                            {{'confirmation-text'|trans|raw }}
                        </p>
                    {% elseif app.request.attributes.get('_route') == 'app_start'%}
                        <h3 class="text-primary text-center fw-bold" data-aos="zoom-in-down">{{ 'h3Home'|trans|raw}}</h3>
                        <p class="sub-header text-primary">{{'sub-header'|trans|raw}}</p>
                    {% endif %}
                </div> #}



    <div class= "mx-3 mx-lg-5">

        <div class="d-flex flex-column justify-content-center mt-5 mt-lg-0">
                
                <div class="row d-flex justify-content-center">
                    <div class="col-12">
                        <div class="first d-flex flex-column justify-content-center height-less">
                            {% if app.request.attributes.get('_route') == 'app_success'%}
                                <h3 class="col-lg-8 text-primary text-center fw-bold" data-aos="zoom-in-down">
                                    {{'thank-you'|trans|raw}}
                                </h3>
                                <p class="col-lg-6 sub-header quiz text-primary m-0">
                                    {{'thank-you-sub'|trans|raw }}
                                </p>
                                <p class="sub-header text-primary">
                                    {{'confirmation-text'|trans|raw }}
                                </p> 
                            {% elseif app.request.attributes.get('_route') == 'app_start'%}
                                <h3 class="col-lg-8 text-primary text-center fw-bold" data-aos="zoom-in-down">
                                    {{ 'h3Home'|trans|raw }}
                                </h3>
                                <p class="col-12 col-md-9 col-lg-6  sub-header quiz text-primary m-0">
                                    {{'sub-header'|trans|raw}}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="gif-box col-12 col-lg-12 mt-lg-5">
                </div>

                <div class="col-12 mt-4 mt-lg-5 mb-5 d-flex justify-content-center">
                    {% if app.request.attributes.get('_route') == 'app_success'%}
                        <a href=""
                            class="btn-delta">
                            {{'action-buttons.close'|trans|raw}}
                        </a>
                    {% else %}
                    <a href="{{ path('app_quiz', {'id':1}) }}"
                        class="btn-delta">
                        {{'action-buttons.play'|trans|raw}}
                    </a>
                    {% endif %}
                </div>

            {# </div> #}
        </div>
    </div>
        {% include "_partials/_footer.html.twig" %}
</body>

{% endblock %}
