{% extends 'base.html.twig' %}

{% block title %} {{ pageTitle.app_quiz }} 
{% endblock %}

{% block body %}
    {% set questionTmp = 'questions.question_'~ question.id ~ '.questionText' %}
    {% set hint = 'questions.question_'~ question.id ~ '.hint' %}


{# <body class="bg01 bg-blue-delta d-flex flex-column"> #}
<body>
    {% include "_partials/_translation.html.twig" %}
    <div class= "mx-3 mx-lg-5">
        <div class="d-flex flex-column justify-content-center">
            {% if question %}
                
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-9 ">
                        <div class="first d-flex flex-column justify-content-center height-less">
                            {% if question.id == 1 %}
                                <h3 class="text-primary text-center fw-bold" data-aos="zoom-in-down">
                                    {{'warm-up-question'|trans}}
                                </h3>
                            {% else %}
                                <span class="text-primary text-center question mb-0">{{'question'|trans}} {{ question.id }} / {{ questions|length }}</span>
                            {% endif %}
                            <p class="sub-header quiz text-primary m-0">
                                {{ hint|trans|raw|capitalize }}
                            </p> 
                        </div>
                    </div>
                </div>

                {# <div class="row d-flex flex-column justify-content-center"> #}
                    {# <div class="col" data-controller="quiz"> #}
                        {{ form_start(form, {
                            'attr': {
                            'class':'row d-flex justify-content-center flex-column align-items-center',
                            'data-controller':'quiz'
                        }})}}

                        <div class="col-12 col-md-9 col-lg-6">
                            <div class="text-box-won rounded-5 d-flex align-items-center mb-3">
                                <p class="py-3 px-3 px-lg-4 p-lg-4 fw-bold text-center text-primary text-start questionContent mb-0">
                                    {{ questionTmp | trans|raw }}
                                </p>
                            </div>
                        </div>

                        <div class="col-12 col-md-9 col-lg-6 d-flex flex-column align-items-center mt-1">

                            {% for answer in form.answer %}
                                {% set answerKey = 'questions.question_' ~ question.id ~ '.answers.answer_' ~ loop.index %}
                                <div class="col-12 col-lg-9 mb-3">
                                {# {{dump(answer)}} #}
                                    <div class="custom-answer fw-bold form-control btn-answer rounded-5 mx-auto choice bg-light text-primary text-start px-4 pointer">
                                        {{ form_widget(answer) }}
                                        {{ form_label(answer, answerKey|trans, {'label_attr': {'class': 'w-100 pointer answerChoice'}}) }}
                                    </div>
                                </div>
                            {% endfor %}

                            {{ form_widget(form.submit) }}
                            {# {{ form_row(form.submit, {
                                'attr': {
                                'class':'row d-flex justify-content-center mx-auto',
                                'data-controller':'quiz'
                            }})}} #}
                        </div>
                        {{ form_end(form) }}
                    {# </div> #}
                {# </div> #}
            {% endif %}
        </div>
    </div>
    {% include "_partials/_footer.html.twig" %}
</body>

{% endblock %}
