<!DOCTYPE html>
{% if app.request.attributes.get('_route') == 'app_success' or app.request.attributes.get('_route') == 'app_start' %}
    <html class="intro">
{% else %}
    <html class="quiz">
{% endif %}

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text><text y='1.3em' x='0.2em' font-size='76' fill='%23fff'>sf</text></svg>"> #}

        {# <link rel="icon" href="{{ asset('images/delta-favicon.jpeg') }}"> #}
        <link rel="shortcut icon" href="{{ asset('images/delta-favicon.jpeg') }}">

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script type="module" src={{ asset('assets/app.js') }}></script>
            <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        {% endblock %}

    </head>
        {% block body %}

        {% endblock %}
            <input type="hidden" id="langCode" value="{{ app.request.locale }}"/>

</html>
